<section id="footer">
	<ul>
		<li class="footerBtns"><a href="mailto:stuartgordonsmith5@gmail.com">Contact Us</a></li>
		<li class="footerBtns"><a href="">About</a></li>
		<li class="footerBtns"><a href="">Site map</a></li>
		<li class="footerBtns"><a href="/">Back to top</a></li>
	</ul>
</section>